@charset "UTF8";
* {
    font-family: Arial, Helvetica, sans-serif;
}

    body {
        background-image: linear-gradient(to right,#F9E784,#E58F65 );
        
    }
 main{
     background-color: white;
     width: 600px;
     padding: 10px;
     margin: auto;
     border-radius: 20px;
     box-shadow: 5px 5px 15px #19191975;
 }
 h1{color: #191919;
 text-align: center;
 text-shadow: 1px 1px 2px #191919;
}
 h2{color: #D05353;}

 
p {
    text-align: justify;
}