@charset "URF-8";

/* 
em HTML é id = em CSS é # 
em HTML é class = em CSS é .
  
*/
body {
    background-color: rgb(158, 223, 196);
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: rgb(8, 97, 60);;

}

h1#principal {
    text-align: center;
    background-color: rgb(8, 97, 60);;
    color: white;
}

h2 { color: rgb(55, 173, 124);;

}
.basico { color: rgb(55, 173, 124);

}
.intermediario {color: rgb(173, 165, 55);

}
.avancado {
    color: rgb(173, 59, 55);
}